{{- range .Groups }}
{{- $group := . }}
{{- range .Kinds}}
{{- $kind := .}}
{{- $levelTypes := dict }}
{{- $hiddenTypes := dict }}
{{- $onlyOnCreationTypes := dict }}
{{- $requireRestartTypes := dict }}
{{- range .Types}}
{{- $key := regexReplaceAll "\\[(index|key)\\]" .Name "" }}
{{- range .Fields -}}
{{- $description := .Description }}
{{- $fieldKey := (print $key "." .Name) }}
{{- if (and $key (get $levelTypes $key)) }}
{{- $levelTypes = merge $levelTypes (dict $fieldKey (add (get $levelTypes $key) 1)) }}
{{- else }}
{{- $levelTypes = merge $levelTypes (dict $fieldKey 2) }}
{{- end }}
{{- if or ($description | regexMatch "See: http[^ ]+$") (and $key (get $hiddenTypes $key)) }}
{{- $hiddenTypes = merge $hiddenTypes (dict $fieldKey true) }}
{{- end }}
{{- if or ($description | regexMatch "\\*\\*This field can only be set on creation\\.\\*\\*") (and $key (get $onlyOnCreationTypes $key)) }}
{{- $onlyOnCreationTypes = merge $onlyOnCreationTypes (dict $fieldKey true) }}
{{- end }}
{{- if or ($description | regexMatch "\\*\\*Changing this field may require a restart\\.\\*\\*") (and $key (get $requireRestartTypes $key)) }}
{{- $requireRestartTypes = merge $requireRestartTypes (dict $fieldKey true) }}
{{- end }}
{{- end }}
{{- end }}
{{- range .Types}}
{{- $key := regexReplaceAll "\\[(index|key)\\]" .Name "" }}
{{- if not (get $hiddenTypes $key) }}
{{- if not .IsTopLevel}}

{{range $i, $e := until (min 5 (get $levelTypes $key) | int)}}#{{end}} {{.Name}}
{{ if .ParentKey}}<sup><sup>[↩ Parent](#{{.ParentKey}})</sup></sup>{{end}}
{{- end}}

{{.Description}}

<table>
    <thead>
        <tr>
            <th><div style="width:12rem">Property</div></th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody><tr style="display:none;">
        <td></td>
        <td>

Workaround for hugo bug not rendering first table row
<br/>
        </td>
      </tr>
      {{- if .IsTopLevel -}}
      <tr>
      <td><b>apiVersion</b><br/><i>string</i></td>
      <td>{{$group.Group}}/{{$group.Version}}<br/><i>Constraints: required, immutable</i></td>
      </tr>
      <tr>
      <td><b>kind</b><br/><i>string</i></td>
      <td>{{$kind.Name}}<br/><i>Constraints: required, immutable</i></td>
      </tr>
      <tr>
      <td><b><a href="https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.27/#objectmeta-v1-meta">metadata</a></b><br/><i>object</i></td>
      <td>Refer to the Kubernetes API documentation for the fields of the `metadata` field.<br/><i>Constraints: required, updatable</i></td>
      </tr>
      {{- end -}}
      {{- range .Fields -}}
      {{- $fieldKey := (print $key "." .Name) }}
      <tr>
        <td><b>{{if and .TypeKey (not (get $hiddenTypes $fieldKey))}}<a href="#{{.TypeKey}}">{{.Name}}</a>{{else}}{{.Name}}{{end}}</b><br/><i>{{.Type}}</i></td>
        <td>
          <div>
          {{ regexReplaceAll "\\*\\*Example:\\*\\*.*" (.Description | replace "\n" "\\n") "" | replace "\\n" "\n" }}<br/>
          </div>
          <br/>
          <i>Constraints: {{if .Required}}required{{else}}optional{{end}}, {{if not (get $onlyOnCreationTypes $fieldKey)}}updatable{{else}}immutable{{end}}{{if get $requireRestartTypes $fieldKey}}, may require restart{{end}}</i>
          {{- if or .Schema.XValidations .Schema.Format .Schema.Enum .Schema.Default .Schema.Minimum .Schema.Maximum }}
          <br/>
          {{- end}}
          {{- if .Schema.XValidations }}
            <i>Validations</i>:
            {{- range .Schema.XValidations -}}
              <li>{{ .Rule }}: {{ .Message }}</li>
            {{- end -}}
          {{- end }}
          {{- if .Schema.Format }}
            <i>Format</i>: {{ .Schema.Format }}<br/>
          {{- end }}
          {{- if .Schema.Enum }}
            <i>Enum</i>: {{ .Schema.Enum | toStrings | join ", " }}<br/>
          {{- end }}
          {{- if .Schema.Minimum }}
            <i>Minimum</i>: {{ .Schema.Minimum }}<br/>
          {{- end }}
          {{- if .Schema.Maximum }}
            <i>Maximum</i>: {{ .Schema.Maximum }}<br/>
          {{- end }}
          {{- if .Schema.Default }}
            <i>Default</i>: {{ .Schema.Default }}<br/>
          {{- end }}
        </td>
      </tr>
      {{- end -}}
    </tbody>
</table>

{{- end}}{{/* hidden type check */}}
{{- end}}{{/* range .Types */}}
{{- end}}{{/* range .Kinds */}}
{{- end}}{{/* range .Groups */}}
